.Config {
  transition: transform .2s;
}

.Config.hidden {
  transform: translateY(4em)
}

.Config .button {
  color: white;
  display: inline-block;
  transition: transform .2s, color .2s;
  cursor: pointer;
  font-size: .8em;
  border: solid white 1px;
  border-radius: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
  text-transform: uppercase;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, .4);
  padding: .5em 1em; 
  background-color: rgba(255, 255, 255, .2);
  margin: 1.5em;
}

.Config .button:hover {
  transform: translateY(-.33em);
  background-color: #0ab5a5;
}

.Config .button.active {
  transform: translateY(-.33em);
  background-color: #0ab5a5;
}

.Config .overlay {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  text-align: center;
}

.Config .overlay>div {
  display: flex;
  flex-grow: 1;
  padding: 1em;
  color: #777;
  text-transform: uppercase;
}

.Config .overlay>div input {
  color: #777;
  margin-left: 1em;
  border-radius: .5em;
  box-shadow: 1px 1px 1px inset rgba(0, 0, 0, 0.1);
  border: solid 1px #bbb;
  padding: .5em;
  vertical-align: middle;
}

.Config .overlay>div button {
  color: white;
  display: inline-block;
  transition: transform .2s;
  /* color: #333; */
  cursor: pointer;
  font-size: .8em;
  border: solid white 1px;
  border-radius: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
  text-transform: uppercase;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, .4);
  padding: .5em 1em; 
  background-color: #0ab5a5;
}