.Weather {
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
  text-align: center;
  font-size: 1.3em;
}

.Weather span {
  /* background-color: white; */
  display: inline-block;
  border-radius: 50%;
}

.Weather img {
  vertical-align: middle;
  height: 2.5em;
  width: auto;
}