.App {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  align-items: stretch;
}

.center {
  flex-grow: 10;
  display: flex;
  align-items: center;
  align-content: center;
}

.item {
  flex-grow: 1;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}